.container {
  z-index: 2;
  background-color: #fff;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
}

.formWrapper {
  width: 100%;
}

.titulo {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
  margin-top: 0;
}

.form {
  display: flex;
  flex-direction: column;
}

.formRow {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.inputGroup {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.passwordGroup {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.inputGroup label,
.passwordGroup label {
  font-size: 0.85rem;
}

/* PrimeReact fields */
:global(.p-icon-field),
:global(.p-password) {
  width: 100%;
}

:global(.p-password) {
  position: relative;
  display: flex !important;
}

:global(.p-inputtext-lg .p-inputtext),
:global(.p-inputtext.p-inputtext-lg) {
  font-size: 1rem;
  padding: 0.625rem;
  width: 100%;
}

.botaoCadastrar {
  background-color: #f0716f;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.7rem;
  border-radius: 5px;
  color: white;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
}

.botaoCadastrar:hover {
  background-color: #bb4c4257;
}

.loginLink {
  text-align: center;
  font-size: 0.9rem;
  margin-top: 1em;
  color: #333;
}

.loginClick {
  color: #f0716f;
  font-weight: 500;
  margin-left: 5px;
  cursor: pointer;
}

.divider {
  text-align: center;
  margin: 2rem 0 1rem;
  font-size: 0.85rem;
  color: #999;
  position: relative;
}

.divider::before,
.divider::after {
  content: "";
  height: 1px;
  background: #ddd;
  position: absolute;
  top: 50%;
  width: 35%;
}

.divider::before {
  left: 0;
}

.divider::after {
  right: 0;
}

/* Responsivo */
@media (max-width: 768px) {
  .container {
    display: flex;
    justify-content: center;
  }

  .formWrapper {
    width: 350px;
  }

  .titulo {
    font-size: 1rem;
    display: block;
  }

  .formRow {
    margin-bottom: 0.3rem;
  }

  .inputGroup label,
  .passwordGroup label {
    font-size: 0.70rem;
  }

  :global(.p-inputtext-lg .p-inputtext),
  :global(.p-inputtext.p-inputtext-lg) {
    font-size: 0.8rem;
    padding: 0.625rem;
  }

  .passwordGroup {
    margin-bottom: 0.3rem;
  }

  .botaoCadastrar {
    font-size: 0.95rem;
    margin-top: 0.5rem;
    height: 38px;
  }

  .loginLink {
    font-size: 0.85rem;
  }

  .divider {
    margin-top: 0.3rem;
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
  }

  .divider::before,
  .divider::after {
    width: 30%;
  }
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
  .container {
    background-color: #111827;
    color: #f9fafb;
  }

  .loginLink {
    color: #d1d5db;
  }

  .divider {
    color: #9ca3af;
  }

  .divider::before,
  .divider::after {
    background: #4b5563;
  }

  .botaoCadastrar {
    background-color: #f87171;
    color: white;
  }

  .botaoCadastrar:hover {
    background-color: #ef4444;
  }

  .loginClick {
    color: #fb7185;
  }
}
