.gridContainer {
  display: grid;
  grid-template-columns: 5fr 2fr;
  gap: 1rem;
  padding: 1rem;
  font-family: 'Inter', sans-serif;
  background-color: #f7f8fa;
  min-height: 100vh;
}

.colResumo,
.colPagamento {
  background-color: white;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.cardResumo {
  display: flex;
  gap: 1rem;
  border: 1px solid #e5e7eb;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: space-between;
}

.cardResumo img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}

.quantidadeControls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.btnRemove {
  background: none;
  border: none;
  color: #dc2626;
  cursor: pointer;
}

.btnRemove:hover {
  color: #991b1b;
}

.radioGroup {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.inputGroup {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
  gap: 1rem;
}

.qrCodeContainer {
  background-color: #f9f9f9;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  margin-top: 1rem;
}

.cuponsWrapper {
  background-color: #fff5f5;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.listaCupons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.cupomItem {
  background-color: #fde2e2;
  border: 1px solid #fca5a5;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.9rem;
  color: #7f1d1d;
  transition: 0.2s ease;
}

.cupomItem:hover {
  background-color: #fca5a5;
  color: #fff;
}

.selecionado {
  background-color: #ef4444 !important;
  color: white !important;
  border-color: #b91c1c;
}

.btnFinalizar {
  background-color: #f0716f;
  color: white;
  border: none;
  margin-top: 1rem;
}

.btnFinalizar:hover {
  background-color: #c887869c;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  .gridContainer {
    background-color: #111827;
  }

  .colResumo,
  .colPagamento {
    background-color: #1f2937;
    color: #f9fafb;
    box-shadow: none;
  }

  .cardResumo {
    background-color: #374151;
    border: 1px solid #4b5563;
  }

  .btnRemove {
    color: #f87171;
  }

  .btnRemove:hover {
    color: #dc2626;
  }

  .cuponsWrapper {
    background-color: #1f2937;
  }

  .cupomItem {
    background-color: #374151;
    border: 1px solid #f87171;
    color: #f9fafb;
  }

  .cupomItem:hover {
    background-color: #f87171;
    color: white;
  }

  .selecionado {
    background-color: #dc2626 !important;
    border-color: #991b1b;
  }

  .qrCodeContainer {
    background-color: #374151;
  }

  .btnFinalizar {
    background-color: #f0716f;
  }

  .btnFinalizar:hover {
    background-color: #c887869c;
  }
}
